{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gastos</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
  <div class="designHeader">
    <div class="divLogo">
      <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
    </div>
    <div class="divLinks">
      <ul id="header-nav">
        {% if grupo and grupo.id_grupo %}
        <li class="elementos-header"><a href="{% url 'tareas' grupo.id_grupo %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
        {% else %}
        <li class="elementos-header"><a href="{% url 'tareas_ind' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
        {% endif %}

        {% if grupo and grupo.id_grupo %}
        <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos-clicked.png' %}" height="60"></a></li>
        {% else %}
        <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos-clicked.png' %}" height="60"></a></li>
        {% endif %}

        {% if grupo and grupo.id_grupo %}
        <li class="elementos-header"><a href="{% url 'lista_grupo' grupo.id_grupo %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
        {% else %}
        <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
        {% endif %}
      </ul>
    </div>
    <div class="divUser">
      {% if user.is_authenticated %}
      <div class="user-logo">
        {% if user.profile.foto %}
        <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
        {% else %}
        <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
        {% endif %}
      </div>
      <div class="user-info">
        <label>Username: {{ user.username }}</label>
      </div>
      {% else %}
      <div class="user-info">
        <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
      </div>
      {% endif %}
    </div>
  </div>
</header>

<h1 class="titulo">Registro de Gastos</h1>

{% if grupo and grupo.id_grupo %}

<div class="contenedor-global">

<button type="button" id="btn-agregar-gasto">
  <strong>+ Agregar gasto</strong>
</button>


{% for gasto in gastos %}
<div class="contenedor-gastos">
  <br>
  <div class="gasto">
    <h2 class="gasto-nombre">{{ gasto.concepto }}</h2>
    <div class="accionesGastos">
      <a href="{% url 'gastos_edit_gasto' gasto.id_gasto %}"><button type="button" class="opciones-gastos" data-id="{{ gasto.id_gasto }}" id="btn-editar-{{ gasto.id_gasto }}">...</button></a>
    </div>
    <div class="gasto-detalles">
      <p class="gasto-cantidad">Precio: {{ gasto.precio }} €</p>
      <p class="gasto-participantes">Participantes:</p>
      <ul  style="text-indent: 2em">
      {% for participante in gasto.participantes.all %}
        <li>{{ participante }}
      {% endfor %}
      </ul>
      <p class="gasto-pagador" style="text-align: right">Pagado por: {{ gasto.pagado_por }}</p>
    </div>
  </div>
</div>
{% endfor %}

<div class="deuda" id="deuda-total">
  <h2>Deuda total: {{ deuda }} euros.</h2>
  {% if grupo and grupo.id_grupo %}
  <a href="{% url 'info_deuda' grupo.id_grupo %}"><button class="estado">+info</button></a>
  {% endif %}
</div>
<br><br>

</div>

<!-- Formulario para Agregar Gasto -->
<div class="formulario-overlay" id="formularioOverlayG">
  <div class="formulario-container">
    <button class="cerrar-btn" id="cerrarFormularioBtnG">&times;</button>
    <h2>Agregar gasto</h2>
    {% if grupo and grupo.id_grupo %}
      <form method="POST" action="{% url 'gastos' grupo.id_grupo %}" class="formulario-gasto" id="formularioGasto">
    {% else %}
      <form method="POST" action="{% url 'gastos_ind' %}" class="formulario-gasto" id="formularioGasto">
    {% endif %}
      {% csrf_token %}
      <label for="concepto">Nombre del gasto:</label>
      <input type="text" id="concepto" name="concepto">
      <br>
      <label for="precio">Precio:</label>
      <input type="text" id="precio" name="precio">
      <br>
      <p>Participantes: </p>
      {% if miembros %}
          {% for miembro in miembros %}
      <div>
        <input type="checkbox" id="opcion{{ forloop.counter }}" name="participantes" value="{{ miembro.usuariogrupo_set.first.id }}">
        <label for="opcion{{ forloop.counter }}">{{ miembro.username }} </label>
      </div>
          {% endfor %}
      {% else %}
      <p>No members found.</p>
      {% endif %}

      <br>
      <label for="recurrente"> ¿Es recurrente?</label>
      <input type="checkbox" id="recurrente" name="recurrente">
      <br><br>


      <label>Pagado por:</label>
        {{ form.pagado_por }}
      <br><br>
      <button type="submit">Enviar</button>

    </form>
  </div>
</div>


{% else %}
<div style="min-height: 55vh">
  <h3>Cree o únase a un grupo para tener acceso a todas las funcionalidades.</h3>
</div>

{% endif %}

<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
              <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
              <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>
