{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'tareas' grupo.id_grupo %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'tareas_ind' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% endif %}

                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% endif %}

                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'lista_grupo' grupo.id_grupo%}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<br><br>
<!-- Mensaje error en el cambio de contraseña-->
{% if messages %}
<div id="messages" style="width: 50%; margin: 0 auto;">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="contenedor-cambio-contraseña">
    <form method="post">
        {% csrf_token %}
        <div class="contenedor-columnas">
            <div class="columna-contra">
                <p>
                    <label>Contraseña Antigua:</label>
                </p>
                <p>
                    <label>Nueva Contraseña:</label>
                </p>
                <p>
                    <label>Repetir Nueva Contraseña:</label>
                </p>
            </div>

            <div class="columna-contra">
                <p>
                    {{ form.old_password }}
                </p>
                <p>
                    {{ form.new_password1 }}
                </p>
                <p>
                    {{ form.new_password2 }}
                </p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
    </form>

</div>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>

