{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                {% if not user.is_authenticated %}
                <li class="elementos-header"><a href="{% url 'login' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% else %}
                    {% if grupo and grupo.id_grupo %}
                    <li class="elementos-header"><a href="{% url 'tareas' grupo.id_grupo %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                    {% else %}
                    <li class="elementos-header"><a href="{% url 'tareas_ind' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                    {% endif %}
                {% endif %}

                {% if not user.is_authenticated %}
                <li class="elementos-header"><a href="{% url 'login' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% else %}
                    {% if grupo and grupo.id_grupo %}
                    <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                    {% else %}
                    <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                    {% endif %}
                {% endif %}

                {% if not user.is_authenticated %}
                <li class="elementos-header"><a href="{% url 'login' %}"><img src="{% static 'img/listacompra.png' %}" height="60"></a></li>
                {% else %}
                    {% if grupo and grupo.id_grupo %}
                    <li class="elementos-header"><a href="{% url 'lista_grupo' grupo.id_grupo%}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
                    {% else %}
                    <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
                    {% endif %}
                {% endif %}

            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<h1 class="titulo">Centro de Armónia Doméstica</h1>
<div class="index-decor">
    <h2>¿Qué hacemos?</h2>
        <p>
            Somos una aplicación web orientada a ofrecer una solución integral para la gestión y coordinación de gastos
            compartidos en los hogares, ya sean de compañeros de piso o familias. Con el objetivo de facilitar la convivencia
            y optimizar la organización doméstica
        </p>
</div>

<div class="index-decor">
    <h2>¿Quiénes somos?</h2>
        <p>
            Soy un estudiante del Grado Superior de Desarrollo de Aplicaciones Multiplataforma en el centro de Cesur que estoy
            desarrollando esta idea como trabajo final del grado.
        </p>
</div>
<div class="index-decor">
    <h2>¿Cómo funciona?</h2>
    <h3>Primeros pasos:</h3>
        <p>
            Tras acceder a esta página tienes que pulsar en el icono que está situado en la parte derecha del encabezado,
            que te redireccionará a la página para realizar el login o el registro en la misma. Y una vez que te hayas registrado
            aparecerás en la vista del perfil:
        </p>
            <img src="{% static 'img/PerfilSinGrupo.png' %}" class="img_index" alt="perfil" width="500">
        <p>
            Una vez que estés en el perfil y para poder acceder a todas las funcionalidades es conveniente
            crear un grupo familiar o unirse a uno, se puede ver en la parte derecha de la imagen.
            Sólo tendrás que escribir el nombre que quieras para crear el grupo o introducir el código
            del grupo, en el caso de que quiera unirse a uno ya existente.
        </p>
    <h3>Apartado tareas:</h3>
            <img src="{% static 'img/TareasFinal.png' %}" class="img_index" alt="tareas" width="500">

        <p>
            Como puedes ver, la pantalla principal te ofrece una visión clara de todas tus tareas pendientes,
            organizadas para tu comodidad.
        </p>

        <p>
            Hemos incorporado características que te ayudarán a optimizar tu flujo de trabajo como:
        </p>

        <h4 style="margin-left: 5%">Creación de Tareas:</h4>

        <p>
            Para añadir una nueva tarea, simplemente haz clic en el botón "+ Agregar Tarea" ubicado en la esquina
            superior derecha de la vista. Se desplegará un formulario emergente sobre la pantalla.
        </p>

        <h4 style="margin-left: 5%">Edición y Eliminación de Tareas:</h4>

        <p>
            ¿Necesitas modificar una tarea existente o eliminarla? Cada tarea cuenta con un botón "..." en el extremo
            derecho. Al hacer clic en él, serás redirigido a una vista dedicada donde el formulario se precargará con
            los datos de la tarea seleccionada. Desde allí, podrás editarla o eliminarla con facilidad.
        </p>

        <h4 style="margin-left: 5%">Asignación de Tareas Aleatoria:</h4>

        <p>
            ¡Deja que la suerte decida! En la esquina inferior derecha de la pantalla, encontrarás un práctico botón
            con un ícono de un dado. Este botón te permite asignar aleatoriamente las tareas que hayas marcado
            previamente con la casilla de verificación (checkbox) junto a cada una de ellas. Esto funciona
            independientemente de si la tarea ya tiene un usuario asignado o no, lo que te brinda flexibilidad para
            distribuir responsabilidades de forma equitativa y divertida.
        </p>
    <h3>Apartado gastos:</h3>
    <p>
        En HogarMonia, sabemos lo importante que es llevar un seguimiento claro de los gastos
        compartidos. Nuestra sección de "Registro de Gastos" te permite hacer precisamente eso, de una manera sencilla
        y transparente.
    </p>
        <img src="{% static 'img/GastosFinal.png' %}" class="img_index" alt="gastos" width="500">
    <p>
        En esta vista, podrás ver un resumen de los gastos registrados, incluyendo quién los pagó y quiénes son los
        participantes.
    </p>

    <h4 style="margin-left: 5%">Creación de Gastos:</h4>

    <p>
        Para añadir un nuevo gasto, simplemente haz clic en el botón "+ Agregar gasto" ubicado en la esquina superior
        derecha de la vista. Al igual que con las tareas, se desplegará un formulario emergente sobre la pantalla.
    </p>

    <h4 style="margin-left: 5%">Edición de Gastos:</h4>

    <p>
        ¿Necesitas modificar un gasto existente? Cada registro de gasto cuenta con un botón "..." en el extremo
        derecho. Al hacer clic en él, serás redirigido a una vista dedicada donde el formulario se precargará
        con los datos del gasto seleccionado, permitiéndote editarlo con facilidad.
    </p>

    <h4 style="margin-left: 5%">Resumen de Deudas:</h4>

    <p>
        Sabemos que mantener las cuentas claras es fundamental en los gastos compartidos. Por eso, en la parte inferior
        de la pantalla, encontrarás un apartado "Deuda total" que te muestra el dinero que debes al grupo o que te deben.
    </p>

    <h4 style="margin-left: 5%">Detalle de Cuentas:</h4>

    <p>
        Para una transparencia total y saber cómo están las finanzas entre todos, junto al resumen de la deuda total,
        verás un botón "Info". Al pulsar este botón, accederás a una vista detallada que te mostrará el estado de las
        cuentas de todos los integrantes del grupo, indicando quién debe a quién y cuánto, facilitando la conciliación
        y los pagos entre vosotros.
    </p>

    <h3>Apartado lista de la compra:</h3>
    <p>
        La sección de "Lista de la compra conjunta" de HogarMonia está diseñada para simplificar tus
        compras en el supermercado, permitiéndote crear y gestionar listas compartidas con los miembros de tu hogar o grupo.
        ¡Nunca más olvidarás un producto importante!
    </p>
        <img src="{% static 'img/ListaCompraFinal.png' %}" class="img_index" alt="listacompra" width="500">

    <p>En esta vista, podrás ver las listas de compras que has creado, con detalles de cada producto.</p>

    <h4 style="margin-left: 5%">Creación de Listas y Elementos:</h4>

    <p>
        Para comenzar una nueva lista de la compra o añadir un nuevo producto a una lista existente, dispones
        de dos botones en la esquina superior derecha:
            <ul style="margin-left: 5%;">
                <li>
                    <strong>"+ Agregar Lista":</strong> Te permite crear una nueva lista de la compra desde cero,
                    ideal para organizar por tiendas o tipos de compra.
                </li>
                <li>
                    <strong>"+ Agregar elemento":</strong> Con este botón, podrás añadir rápidamente nuevos productos
                    a la lista de la compra que estés visualizando, especificando el producto, la cantidad y el tipo.
                </li>
            </ul>
    </p>

    <h4 style="margin-left: 5%">Marcar Productos como "Comprado":</h4>

    <p>
        ¡La funcionalidad estrella para tus compras! A medida que vayas adquiriendo los productos de tu lista,
        simplemente marca la casilla de verificación (checkbox) situada junto a cada artículo. Una vez que hayas
        marcado uno o varios productos, haz clic en el botón "Comprado" ubicado en la parte inferior de la lista.
        Al hacerlo, el estado de esos productos cambiará visualmente: se volverán ligeramente transparentes y
        aparecerán tachados, indicando claramente que ya han sido adquiridos y facilitando la visión de lo que aún
        queda por comprar.
    </p>

</div>

<br>
<br>
<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>
