{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body class="body-in">

<div class="header-in">
    <a href="{% url 'index' %}"><img id="logo-in" src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
</div>


<div class="contenedor-in">
    <div class="formulario-login">
        <h2>Iniciar Sesión</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="campo">
                <label>Usuario:</label>
                {{ form.username }}
                <!--<input type="text" id="usuario" name="usuario">-->
                {% if form.username.errors %}
                <div class="error-message">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div class="campo">
                <label>Contraseña:</label>
                {{ form.password }}
                <!--<input type="password" id="contrasena" name="contrasena">-->
                {% if form.password.errors %}
                <div class="error-message">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <button type="submit">Entrar</button>
            <p style="text-align: center">¿No tienes cuenta? <a href="{% url 'register' %}">Registrate</a></p>
        </form>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>