{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                <li class="elementos-header"><a href="{% url 'tareas' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                <li class="elementos-header"><a href="{% url 'gastos' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'logout' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'logout' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
        </div>
    </div>
</header>

<h2>Información del Usuario:</h2>

<div class="parent">
    <div class="div1Perfil">
        <h4>Información Personal:</h4>
        <p>Username: {{ user.username }}</p>
        <p>Correo electróncio: {{ user.email }}</p>
        <p><a href="#" style="color: #ef9071">Cambiar contraseña</a></p>
    </div>
    <div class="div2Perfil">
        <h4 >Foto de perfil:</h4>
        <img src="{% static 'img/imagen_usuario.png' %}" alt="userPhoto" width="100" height="100">
        <!--src= "{{ user.profile.foto.url }}"-->
    </div>
    <div class="div3Perfil">
        3
    </div>
    <div class="div4Perfil">
        <h4>Información del Hogar:</h4>
        {% if grupo %}
        <p>Nombre de la casa: {{ grupo.nombre_grupo }}</p>
        <p>Miembros:</p>
        <ul style="text-indent: 3em">
            {% for miembro in miembros %} <!--grupo.user_set.all %}-->
            <li>{{ miembro.usuario.username }} - ({{ miembro.rol }})</li>
            {% endfor %}
            <!--
            <li>Miembro1</li>
            <li>Miembro2</li>
            <li>Miembro3</li>
            -->
        </ul>
        <p>Código del Grupo: {{ grupo.codigo_invitacion }}</p>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="accion" value="salir">
            <button type="submit" id="btn-salir-grupo" name="btn-salir-grupo">Salir del grupo</button>
        </form>
        {% else %}
        <p>Actualmente no pertenece a ningún hogar.</p>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="accion" value="unirse">
            <p>Introducir código del hogar para unirse:</p>
            <p><input type="text" id="codigo_hogar" name="codigo_hogar" maxlength="10"></p>
            <button type="submit" id="btn-unirse-hogar">Unirse al hogar</button>
        </form>

        <p>O crealo usted:</p>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="accion" value="crear">
            <p>Nombre del hogar:</p>
            <p><input type="text" id="nombre_grupo" name="nombre_grupo"></p>
            <button type="submit" id="btn-crear-hogar">Crear Hogar</button>
        </form>
        {% endif %}

    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>