{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'tareas' grupo.id_grupo %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'tareas_ind' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% endif %}

                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% endif %}

                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<!--Formulario Editar Tarea-->
<h1>Editar Tarea</h1>
<div class="formularioEditarTarea" id="formularioEditarTarea">
    <div class="formulario-container">
        <!--<button class="cerrar-btn" id="cerrarFormularioBtnET">&times;</button>-->
        <h2>{{ tarea.nombre_tareas }}</h2>
        <form method="POST" action="{% url 'tareas_edit_tarea' tarea.id_tareas %}" class="formulario-tarea" id="formularioEditTarea">
            {% csrf_token %}
            <div>
                <label>Nombre de la Tarea:</label>
                {{ form.nombre_tareas }}
            </div>
                <br>
            <div>
                <label>Fecha límite:</label>
                {{ form.fecha_limite }}
            </div>
                <br>
            <div>
                <label>¿Es periódica?:</label>
                {{ form.es_periodica }}
            </div>
                <br>
            <div>
                <label>Estado:</label>
                {{ form.completada }}
            </div>
                <br>
            <div>
                <label>Tiempo aproximado:</label>
                {{ form.tiempo_estimado }}
            </div>
                <br>
            <div>
                <label>Personas necesarias:</label>
                {{ form.npersonas }}
            </div>
                <br>
            <div>
                <label>Frecuencia(veces semana):</label>
                {{ form.frecuencia }}
            </div>
                <br>
            <p style="text-indent: 0">Participantes:</p>
            {% if miembros %}
                {% for miembro in miembros %}
                    {% if miembro.id in participantes_usuario_ids %}
                        <input type="checkbox" id="persona{{ forloop.counter }}" name="participantes" value="{{ miembro.id }}" checked>
                    {% else %}
                        <input type="checkbox" id="persona{{ forloop.counter }}" name="participantes" value="{{ miembro.id }}">
                    {% endif %}
                    <label for="persona{{ forloop.counter }}">{{ miembro.username }}</label><br>
                {% endfor %}
            {% else %}
                <p>No members found.</p>
            {% endif %}
            <br>
            <div style="display: flex; justify-content: space-between; align-items: center">
                <button type="submit" name="action" value="delete" style="width: 40%" onclick="return confirm('¿Estás seguro de que quieres eliminar esta tarea?');">Eliminar</button>
                <button type="submit" name="action" value="update" style="width: 40%">Actualizar Tarea</button>
            </div>
        </form>
    </div>
</div>

<br>

<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>