{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                <li class="elementos-header"><a href="{% url 'tareas' %}"><img src="{% static 'img/tareas-clicked.png' %}" height="60"></a></li>
                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% endif %}
                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<h1 class="titulo">Tareas</h1>

<button type="button" id="btn-agregar-tarea">
    <strong>+ Agregar Tarea</strong>
</button>


<button type="submit" id="btn-randomizar">
        <img src="{% static 'img/random.png' %}" alt="randomizar" width="60" height="60">
</button>


<div class="contenedor-tareas">
    <br>
    <div class="tarea">
        <div class="izquierda">
            <input type="checkbox">
            <div class="info-tarea">
                <div class="nombre-tarea"><strong>Nombre de la tarea</strong></div>
                <div class="persona-asignada">Persona asignada</div>
            </div>
        </div>
        <div class="estado">Estado:</div>
        <div class="acciones">
            <button type="button" class="opciones-tareas">...</button>
            <ul class="lista-acciones">
                <li data-value="eliminar">Eliminar</li>
                <li data-value="editar">Editar</li>
            </ul>
        </div>
    </div>

    <div class="tarea">
        <div class="izquierda">
            <input type="checkbox">
            <div class="info-tarea">
                <div class="nombre-tarea"><strong>Nombre de la tarea</strong></div>
                <div class="persona-asignada">Persona asignada</div>
            </div>
        </div>
        <div class="estado">Estado:</div>
        <div class="acciones"><button type="button" class="opciones-tareas">...</button></div>
    </div>

    <div class="tarea">
        <div class="izquierda">
            <input type="checkbox">
            <div class="info-tarea">
                <div class="nombre-tarea"><strong>Nombre de la tarea</strong></div>
                <div class="persona-asignada">Persona asignada</div>
            </div>
        </div>
        <div class="estado">Estado:</div>
        <div class="acciones"><button type="button" class="opciones-tareas">...</button></div>
    </div>

    <div class="tarea">
        <div class="izquierda">
            <input type="checkbox">
            <div class="info-tarea">
                <div class="nombre-tarea"><strong>Nombre de la tarea</strong></div>
                <div class="persona-asignada">Persona asignada</div>
            </div>
        </div>
        <div class="estado">Estado:</div>
        <div class="acciones"><button type="button" class="opciones-tareas">...</button></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--Formulario +Agregar Tarea-->
<div class="formulario-overlay" id="formularioOverlayT">
    <div class="formulario-container">
        <button class="cerrar-btn" id="cerrarFormularioBtnT">&times;</button>
        <h2>Agregar tarea</h2>
        <form>
            <label for="nombre">Nombre de la Tarea:</label>
            <input type="text" id="nombre" name="nombre">
            <br>
            <p style="text-indent: 0">Estado:</p>
            <input type="radio" id="pdt" name="estado" value="pendiente" checked>
            <label for="persona2">Pendiente</label><br>

            <input type="radio" id="hecho" name="estado" value="hecho">
            <label for="persona3">Hecho</label><br>
            <br>
            <label for="tiempo">Tiempo aproximado: (en horas)</label>
            <input type="number" id="tiempo" name="tiempo" min="0" step="0.5">
            <br>
            <br>
            <label for="npersonas">Personas necesarias:</label>
            <input type="number" id="npersonas" name="npersonas" min="0" step="1">
            <br>
            <br>
            <label for="opciones">Frecuencia:</label>
            <br>
            <select id="opciones" name="opciones">
              <option value="0">Añadir solo esta vez</option>
              <option value="1">Una vez a la semana</option>
              <option value="2">Dos veces a la semana</option>
              <option value="7">Una vez al día</option>
            </select>

            <p style="text-indent: 0">Asignar tarea manualmente:</p>
            <input type="radio" id="persona1" name="tarea" value="Ana">
            <label for="persona1">Ana</label><br>

            <input type="radio" id="persona2" name="tarea" value="Paula">
            <label for="persona2">Paula</label><br>

            <input type="radio" id="persona3" name="tarea" value="Carlos">
            <label for="persona3">Carlos</label><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>


<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>
