{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'tareas' grupo.id_grupo %}"><img src="{% static 'img/tareas-clicked.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'tareas_ind' %}"><img src="{% static 'img/tareas-clicked.png' %}" height="60"></a></li>
                {% endif %}

                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% endif %}

                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra.png' %}" height="60" ></a></li>
            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<h1 class="titulo">Tareas</h1>

<button type="button" id="btn-agregar-tarea">
    <strong>+ Agregar Tarea</strong>
</button>


<button type="submit" id="btn-randomizar">
        <img src="{% static 'img/random.png' %}" alt="randomizar" width="60" height="60">
</button>



<div class="contenedor-tareas" id="contenedor-tareas">
    <br>
    {% for tarea in tareas %}
    <div class="tarea">
        <div class="izquierda">
            <input type="checkbox" value="{{ tarea.id_tareas }}">
            <div class="info-tarea">
                <div class="nombre-tarea"><strong>{{ tarea.nombre_tareas }}</strong></div>
                {% if tareas.participantes.all.length == 1 %}
                <div class="persona-asignada">Persona asignada:
                {% else %}
                <div class="persona-asignada">Personas asignadas:
                {% endif %}
                    {% for participante in tarea.participantes.all %}
                    {{ participante }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if tarea.completada %}
            <div class="estado">Estado: Hecho</div>
        {% else %}
            <div class="estado">Estado: Pendiente</div>
        {% endif %}
        <form type="GET">
        <div class="acciones">
            <a href="{% url 'tareas_edit_tarea' tarea.id_tareas %}"><button type="button" class="opciones-tareas" data-id="{{ tarea.id_tareas }}" id="btn-editar-{{ tarea.id_tareas }}">...</button></a>
            <input type="hidden" name="id_tareas" value="{{ tarea.id_tareas }}">
            <!--<ul class="lista-acciones">
                <li data-value="eliminar">Eliminar</li>
                <li data-value="editar">Editar</li>
            </ul>-->
        </div>
        </form>
    </div>
    {% endfor %}
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<!--Formulario +Agregar Tarea-->
<div class="formulario-overlay" id="formularioOverlayT">
    <div class="formulario-container">
        <button class="cerrar-btn" id="cerrarFormularioBtnT">&times;</button>
        <h2>Agregar tarea</h2>
        {% if grupo and grupo.id_grupo %}
            <form method="POST" action="{% url 'tareas' grupo.id_grupo %}" class="formulario-tarea" id="formularioTarea">
        {% else %}
            <form method="POST" action="{% url 'tareas_ind' %}" class="formulario-tarea" id="formularioTarea">
        {% endif %}
            {% csrf_token %}
                <label for="nombre">Nombre de la Tarea:</label>
                <input type="text" id="nombre" name="nombre_tareas">

                <br><br>
                <label for="fecha_limite">Fecha límite:</label>
                <input type="date" id="fecha_limite" name="fecha_limite">

                <br><br>
                <label for="periodica">¿Es periódica?:</label>
                <input type="checkbox" id="periodica" name="es_periodica">


                <p style="text-indent: 0">Estado:</p>
                <input type="radio" id="pdt" name="completada" value="false" checked>
                <label for="pdt">Pendiente</label><br>

                <input type="radio" id="hecho" name="completada" value="true">
                <label for="hecho">Hecho</label><br>

                <br>
                <label for="tiempo">Tiempo aproximado: (en horas)</label>
                <input type="number" id="tiempo" name="tiempo_estimado" min="0" step="0.5">

                <br><br>
                <label for="npersonas">Personas necesarias:</label>
                <input type="number" id="npersonas" name="npersonas" min="0" step="1">

                <br><br>
                <label for="frecuencia">Frecuencia (veces a la semana):</label>
                <input type="number" id="frecuencia" name="frecuencia" min="1" step="1">

                <p style="text-indent: 0">Asignar tarea manualmente:</p>
                {% if miembros %}
                    {% for miembro in miembros %}
                        <input type="checkbox" id="persona{{ forloop.counter }}" name="participantes" value="{{ miembro.id }}">
                        <label for="persona{{ forloop.counter }}">{{ miembro.username }}</label><br>
                    {% endfor %}
                {% else %}
                    <p>No members found.</p>
                {% endif %}
                <br>
                <button type="submit">Enviar</button>
        </form>
    </div>
</div>







<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>
