{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListaCompra</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'tareas' grupo.id_grupo %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'tareas_ind' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                {% endif %}

                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'gastos' grupo.id_grupo %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'gastos_ind' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                {% endif %}
                {% if grupo and grupo.id_grupo %}
                <li class="elementos-header"><a href="{% url 'lista_grupo' grupo.id_grupo%}"><img src="{% static 'img/listacompra-clicked.png' %}" height="60" ></a></li>
                {% else %}
                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra-clicked.png' %}" height="60" ></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="divUser">
            {% if user.is_authenticated %}
            <div class="user-logo">
                {% if user.profile.foto %}
                <a href="{% url 'perfil' %}"><img src="{{ user.profile.foto.url }}" alt="user" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'perfil' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
                {% endif %}
            </div>
            <div class="user-info">
                <label>Username: {{ user.username }}</label>
            </div>
            {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<h1 class="titulo">Lista de la compra conjunta</h1>

<button type="button" id="btn-agregar-elemento-lista">
    <strong>+ Agregar elemento</strong>
</button>

<button type="button" id="btn-agregar-lista">
    <strong>+ Agregar Lista</strong>
</button>

{% if listas %}
    {% for lista in listas %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="lista_id" value="{{ lista.id_lista }}">
        <div class="contenedor-lista-compra">
                <h2>{{ lista.nombre_lista }}</h2>
                {% if productos %}
                    <div class="elemento-lista-compra">
                        <div class="elemento-lista-checkbox">
                        </div>
                        <div class="elemento-lista-nombre">
                            <p><strong>Producto</strong></p>
                        </div>
                        <div class="elemento-lista-cantidad">
                            <p><strong>Cantidad</strong></p>
                        </div>
                        <div class="elemento-lista-tipo">
                            <p><strong>Tipo</strong></p>
                        </div>
                    </div>
                    {% for producto in productos %}
                        {% if producto.id_lista == lista %}
                            {% if producto.comprado == True %}
                                <div class="elemento-lista-compra">
                                    <div class="elemento-lista-checkbox">
                                        <input type="checkbox" disabled checked>
                                    </div>
                                    <div class="elemento-lista-nombre">
                                        <p style="color: #E0E0E0; text-decoration: line-through">{{ producto.nombre_producto }}</p>
                                    </div>
                                    <div class="elemento-lista-cantidad">
                                        <p style="color: #E0E0E0; text-decoration: line-through">{{ producto.cantidad }} {{ producto.unidades }}</p>
                                    </div>
                                    <div class="elemento-lista-tipo">
                                        <p style="color: #E0E0E0; text-decoration: line-through">{{ producto.tipo }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="elemento-lista-compra">
                                    <div class="elemento-lista-checkbox">
                                        <input type="checkbox" name="productos_comprados" value="{{ producto.id_producto }}">
                                    </div>
                                    <div class="elemento-lista-nombre">
                                        <p>{{ producto.nombre_producto }}</p>
                                    </div>
                                    <div class="elemento-lista-cantidad">
                                        <p>{{ producto.cantidad }} {{ producto.unidades }}</p>
                                    </div>
                                    <div class="elemento-lista-tipo">
                                        <p>{{ producto.tipo }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                <button type="submit" style="width: 20%" name="cambiar_estado" id="btn-eliminar-lista" data-id="{{ lista.id_lista }}">Comprado</button>
                {% else %}
                    <p>No hay elementos en esta lista.</p>
                {% endif %}
        </div><br>
    </form>
    {% endfor %}
{% else %}
    <p>No hay listas creadas.</p>
{% endif %}
<!-- Formulario Crear Lista Nueva -->
<div class="formulario-overlay" id="formularioOverlayLC">
    <div class="formulario-container">
        <button class="cerrar-btn" id="cerrarFormularioBtnLC">&times;</button>
        <h2>Agregar Lista:</h2>
        <form method="post">
            {% csrf_token %}
            <!--<label for="id_nombre_lista">Nombre Lista:</label>
            <input type="text" id="id_nombre_lista" name="nombre_lista">
            <br>
            <br>-->
            {{ form_lista.as_p }}
            <button type="submit" name="nueva_lista">Crear Lista</button>
        </form>
    </div>
</div>


<!-- Formulario añadir elemento -->
<div class="formulario-overlay" id="formularioOverlayElemLC">
    <div class="formulario-container">
        <button class="cerrar-btn" id="cerrarFormularioBtnElemLC">&times;</button>
        <h2>Agregar Elemento a la lista:</h2>
        <form method="POST">
            {% csrf_token %}

            <!-- Lista selector usando Django form -->
            <div class="form-group">
                <label for="{{ form_producto.id_lista.id_for_label }}">Lista:</label>
                {{ form_producto.id_lista }}
                {% if form_producto.id_lista.errors %}
                <div class="error">{{ form_producto.id_lista.errors.0 }}</div>
                {% endif %}
            </div><br>

            <!-- Nombre del producto -->
            <div class="form-group">
                <label for="{{ form_producto.nombre_producto.id_for_label }}">Nombre Producto:</label>
                {{ form_producto.nombre_producto }}
                {% if form_producto.nombre_producto.errors %}
                <div class="error">{{ form_producto.nombre_producto.errors.0 }}</div>
                {% endif %}
            </div><br>

            <!-- Cantidad y unidades -->
            <div class="form-group">
                <label for="{{ form_producto.cantidad.id_for_label }}">Cantidad:</label>
                {{ form_producto.cantidad }}
                {{ form_producto.unidades }}
                {% if form_producto.cantidad.errors %}
                <div class="error">{{ form_producto.cantidad.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Tipos (checkboxes) -->
            <div class="form-group">
                <p>Tipo:</p>
                {% for checkbox in form_producto.tipos_seleccionados %}
                <div>
                    {{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </div>
                {% endfor %}
            </div>
            <br>
            <button type="submit" name="nuevo_producto">Enviar</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>
