{% load static %}

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- href="../static/style.css">-->
</head>
<body>
<header>
    <div class="designHeader">
        <div class="divLogo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="80"></a>
        </div>
        <div class="divLinks">
            <ul id="header-nav">
                <li class="elementos-header"><a href="{% url 'tareas' %}"><img src="{% static 'img/tareas.png' %}" height="60"></a></li>
                <li class="elementos-header"><a href="{% url 'gastos' %}"><img src="{% static 'img/gastos.png' %}" height="60"></a></li>
                <li class="elementos-header"><a href="{% url 'lista_compra' %}"><img src="{% static 'img/listacompra-clicked.png' %}" height="60" ></a></li>
            </ul>
        </div>
        <div class="divUser">
            <a href="{% url 'login' %}"><img src="{% static 'img/imagen_usuario.png' %}" alt="user" width="40" height="40"></a>
        </div>
    </div>
</header>
<h1 class="titulo">Lista de la compra conjunta</h1>

<button type="button" id="btn-agregar-lista">
    <strong>+ Agregar elemento</strong>
</button>


<div class="contenedor-lista-compra">
    <h2>Lista de la compra conjunta</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>



<!-- Formulario añadir elemento -->
<div class="formulario-overlay" id="formularioOverlayLC">
    <div class="formulario-container">
        <button class="cerrar-btn" id="cerrarFormularioBtnLC">&times;</button>
        <h2>Agregar Elemento a la lista:</h2>
        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
            <br>
            <label for="cantidad">Cantidad:</label>
            <input type="text" id="cantidad" name="cantidad">
            <br>
            <p>Tipo:</p>
            <div>
                <input type="checkbox" id="fruta-verdura" name="opciones[]" value="fruta-verdura">
                <label for="fruta-verdura">Fruta y Verdura</label>
            </div>

            <div>
                <input type="checkbox" id="carne" name="opciones[]" value="carne">
                <label for="carne">Carne</label>
            </div>

            <div>
                <input type="checkbox" id="pescado" name="opciones[]" value="pescado">
                <label for="pescado">Pescado</label>
            </div>

            <div>
                <input type="checkbox" id="lacteos" name="opciones[]" value="lacteos">
                <label for="lacteos">Lacteos</label>
            </div>

            <div>
                <input type="checkbox" id="congelados" name="opciones[]" value="congelados">
                <label for="congelados">Congelados</label>
            </div>
            <!--<select id="opciones" name="opciones" multiple>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>-->
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <div style="text-align: center;">
        Contáctanos: centroarmoniadomestica@gmail.com
    </div>

    <div style="height: 1px;  background-color: #ccc;  margin: 10px auto;  width: 75%;"></div> <!--separator line-->

    <div class="copyright">
        <p style="font-size: 12px">&copy; 2025 Centro de Armonía Doméstica. Todos los derechos reservados.</p>
        <p>
            <a href="{% url 'terms' %}" style="color: #353b53">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'privacy' %}" style="color: #353b53">Privacidad</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script> <!-- "../static/script.js"></script>-->
</body>
</html>
